<!-- <h1>
  {{title}}
</h1>

<button routerLink="/books">Books</button>
<router-outlet></router-outlet> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand text-center" routerLink="/books" href="javascript:void(0)">Book  Management System</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Books">
        <a  class="nav-link" routerLink="/books" href="javascript:void(0)" >
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Books</span>
        </a>
      </li>
    </ul>    
  </div>
</nav>
<div class="content-wrapper"  >
	<div class="container-fluid" >
      <router-outlet></router-outlet>
  </div> 
</div>     

